# Environment file
.env

# Python virtual environments
.venv/

# CDK variables that change each deployment
cdk_deployment_outputs.json

# Sublime junk
*.sublime-project
*.sublime-workspace

# Cached Python files
*__pycache__*
