aws-cdk.core==1.89.0
aws_cdk.aws_apigateway==1.89.0
aws_cdk.aws_lambda==1.89.0
aws_cdk.aws_lambda_python==1.89.0
aws_cdk.aws_lambda_nodejs==1.89.0
black==21.9b0
boto3==1.17.0
flake8==3.9.2
flake8-import-order==0.18.1
mypy==0.780
moto==3.0.0
pytest==6.2.5
pytest-cov==2.12.1
wheel==0.36.2
