.button > button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  position: relative;
  height: 60px;
  padding: 0 54px;

  cursor: pointer;

  background: linear-gradient(
    236.87deg,
    rgba(255, 255, 255, 0.4) -20.55%,
    rgba(255, 255, 255, 0) 109.32%
  );

  border: 2px solid rgba(219, 219, 219, 0.5);

  backdrop-filter: blur(200px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 10px;
}

.Light .button > button {
  background: linear-gradient(
    233.28deg,
    rgba(255, 255, 255, 0.4) -20.85%,
    rgba(255, 255, 255, 0) 123.1%
  );
}

.button > button > span {
  font-family: 'Maven Pro Bold';
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.02em;
}

.Light span {
  color: var(--main-light-font-color);
}

.button > button > svg {
  height: 37.5%;

  margin-right: 8px;
}

/* Animations */
.button > button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s, background-color 0.2s;
}

@keyframes onClick {
  from {
  }
  to {
    box-shadow: 0px;
    transform: scale(0.95);
  }
}

.button > button:active {
  animation: onClick 0.05s;
  animation-fill-mode: forwards;
}
